:root {
    --main-black: #1A1F29;
    --hover: #ebebeba8;
    --white: #fff;
    --border: #ccc;
    --disabled: #929499;
    --disabled-text: #BDBDBD;
    --disabled-background: #F2F2F2;
    --tertiary: #5E626B;
    --primary: #171C8F;
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family : 'Avenir Next Rounded Std', Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.23;
    font-weight: 400;
    color: var(--main-black);
}

body {
    max-width: 1440px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

.mt-8 {
    margin-top: 8px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-48 {
    margin-top: 48px;
}

.text--body {
    font-size: 16px;
    line-height: 1.23;
    font-weight: 400;
    color: var(--main-black);
}

.text--large {
    font-size: 20px;
    line-height: 1.25;
}

.text--header {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.23;
}

.text--center {
    text-align: center;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}







.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    padding: 20px 46px;
}

.main-menu__list,
.main-menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.header__logo-container {
    padding-left: 16px;
    padding-right: 16px;
    align-self: center;
}

.main-menu__link {
    display: inline-block;
    text-decoration: none;
    color: var(--main-black);  
    padding: 10px 18px;
}

.main-menu__link::after {
    display: block;
    content: '';
    height: 1px;
    width: 0;
    background-color: var(--main-black);
    transition: all .2s ease;
}

.main-menu__link:hover::after {
    width: 100%;
}







.history {
    margin-top: 20px;
    margin-bottom: 36px;
    margin-left: 60px;
}

.history__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.history__item:not(:last-child):after {
    content: '/';
    margin-left: 10px;
    margin-right: 8px;
}

.history__item:last-child .history__link {
    color: var(--disabled);
}

.history__link {
    text-decoration: none;
    color: var(--main-black);
    font-size: 14px;
}

.history__link:hover {
    text-decoration: underline;
}







.product {
    margin-top: 36px;
    margin-left: 64px;
}

.product__container {
    display: flex;
}

.product__media {
    max-width: 808px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.product__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product__info {
    max-width: 456px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.product__info fieldset {
    border: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.product__size-container {
    display: flex;
    margin: 12px -6px 0;
}

.product__size-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: var(--white);
    border: 1px solid var(--border);
    line-height: 1.25;
    letter-spacing: -0.01em;
    cursor: pointer;
    transition: all .2s ease;
}

.product__size-label:hover {
    border-color: var(--main-black);
}

.product__size-radio[type="radio"]:checked + .product__size-label {
    border-color: var(--main-black);
}

.product__size-radio[type="radio"]:disabled + .product__size-label {
    position: relative;
    border: none;
    color: var(--disabled-text);
    background-color: var(--disabled-background);
    cursor: default;
}

.product__size-radio[type="radio"]:disabled + .product__size-label::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 55px;
    background-color: var(--disabled);
    transform: rotate(-45deg);
}

.product__size-radio {
    display: none;
}

.product__color-container {
    display: flex;
    margin: 12px -9px 0;
}

.product__color-label::before {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    content: '';
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
}

.product__color-label {
    position: relative;
    width: 34px;
    height: 34px;
    margin-left: 9px;
    margin-right: 9px;
    background-color: var(--border);
    cursor: pointer;
    transition: all .2s ease;
    border: 1px solid transparent;
}

.product__color-label--white {
    background-color: #FFFFFF;
    border-color: var(--border);
}

.product__color-label--black {
    background-color: #1A1F29;
}

.product__color-label--gray {
      background-color: #AEAEB0;
}

.product__color-label--purple-latte {
    background-color: #BA9BE5;
}

.product__color-label--red {
    background-color: #E9A0A7;
}

.product__color-label--orange {
    background-color: #F8CAB1;
}

.product__color-label:hover::before {
    border-color: var(--border);
}

.product__color-radio[type="radio"]:checked + .product__color-label::before {
    border-color: var(--main-black);
}

.product__color-radio[type="radio"]:disabled + .product__color-label::before {
    position: relative;
    border: none;
    cursor: default;
}

.product__color-radio[type="radio"]:disabled + .product__color-label::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 55px;
    top: 15px;
    left: -11px;
    background-color: var(--disabled);
    transform: rotate(-45deg);
}

.product__color-radio {
    display: none;
}






.product__quantity-container {
    display: flex;
    width: fit-content;
    margin-top: 12px;
}

.product__quantity-count { 
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: var(--white);
    border-top: 1px solid var(--border);
    border-right: none;
    border-bottom: 1px solid var(--border);
    border-left: none;
    font-size: 18px;
    line-height: 1;
}

.product__quantity-button {
    height: 40px;
    width: 40px;
    background-color: var(--white);
    border: none;
    cursor: pointer;
    border: 1px solid var(--border);
    color: var(--tertiary);
    font-size: 18px;
    line-height: 1;
}

.product__button-container {
    display: flex;
    flex-direction: column;
    margin-top: -12px;
}

.button {
    height: 40px;
    margin-top: 12px;
    border: none;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.16em;
    transition: all .2s ease;
    cursor: pointer;
}

.button--transent {
    background: var(--white);
    border: 1px solid var(--disabled);
    color: var(--main-black);
}

.button--transent:hover {
    border-color: 1px solid var(--primary);
    color: var(--primary);
}

.button--blue {
    background: var(--primary);
    color: var(--white);
}

.button--blue:hover {
    opacity: 0.85;
}























.other-product__header-container {
    margin-top: 100px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.other-product__header {
    color: var(--primary);
    font-weight: 400;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.01em;
    margin-top: 0;
    margin-bottom: 0;
}

.other-product__container {
    margin-top: 64px;
    overflow: hidden;
}

.other-product__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: -24px 32px 0 32px;
    padding-left: 0;
}

.other-product__item {
    position: relative;
    margin-top: 24px;
    margin-left: 32px;
    margin-right: 32px;
}

.other-product-card__image {
    width: 248px;
    height: 368px;
}

.other-product-card__info {
    margin-top: 20px;
}

.other-product-card__title {
    text-align: center;
}

.other-product-card__title-link {
    text-decoration: none;
    color: var(--main-black);
}

.other-product-card__title-link::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
}

.other-product-card__color-container {
    margin-top: 8px;
}

.other-product-card__color-list {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    margin-left: -2px;
    margin-right: -2px;
}

.other-product-card__color-item {
    width: 16px;
    height: 16px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #1A1F29;
}

.other-product-card__color-item--dark-yellow {
    background-color: #C88252;
}

.other-product-card__color-item--apricot {
    background-color: #F8CAB1;
}

.other-product-card__color-item--pinc {
    background-color: #E9A0A7;
}

.other-product-card__color-item--purple {
    background-color: #BA9BE5; 
}








.footer {
    margin-top: 80px;
    border-top: 1px solid var(--border);
    padding-top: 80px;
    padding-left: 88px;
}

.footer__menus {
    display: flex;
}

.footer__menu {
    margin-right: 158px; 
}

.footer__menu:last-child {
    margin-right: 0; 
}

.footer__menu-title {
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer__menu-adress {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: var(--tertiary);
    width: 168px;
}

.footer__social-container {
    margin-top: 16px;
    margin-left: -8px;
    margin-right: -8px;
}

.footer__social-item {
    display: inline-block;
    width: 19px;
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
}

.footer__social-item:hover {
    opacity: 0.85;
}

.footer__social-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer__menu-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.footer__menu-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: var(--tertiary);
}

.footer__menu-link:hover {
    text-decoration: underline;
}

.footer__copywriter {
    margin-top: 92px;
}