:root {
    --main-black: #1A1F29;
    --hover: #ebebeba8;
    --border: #ccc;
    --disabled: #929499;
    --tertiary: #5E626B;
    --primary: #171C8F;
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family : 'Avenir Next Rounded Std', Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.23;
    font-weight: 400;
    color: var(--main-black);
}

body {
    max-width: 1440px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

.mt-8 {
    margin-top: 8px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-48 {
    margin-top: 48px;
}

.text--body {
    font-size: 16px;
    line-height: 1.23;
    font-weight: 400;
    color: var(--main-black);
}

.text--center {
    text-align: center;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    padding: 20px 46px;
}

.main-menu__list,
.main-menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.header__logo-container {
    padding-left: 16px;
    padding-right: 16px;
    align-self: center;
}

.main-menu__link {
    display: inline-block;
    text-decoration: none;
    color: var(--main-black);  
    padding: 10px 18px;
}

.main-menu__link::after {
    display: block;
    content: '';
    height: 1px;
    width: 0;
    background-color: var(--main-black);
    transition: all .2s ease;
}

.main-menu__link:hover::after {
    width: 100%;
}

.history {
    margin-top: 20px;
    margin-bottom: 36px;
    margin-left: 60px;
}

.history__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.history__item:not(:last-child):after {
    content: '/';
    margin-left: 10px;
    margin-right: 8px;
}

.history__item:last-child .history__link {
    color: var(--disabled);
}

.history__link {
    text-decoration: none;
    color: var(--main-black);
    font-size: 14px;
}

.history__link:hover {
    text-decoration: underline;
}






.other-product__header-container {
    margin-top: 100px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.other-product__header {
    color: var(--primary);
    font-style: normal;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.01em;
    margin-top: 0;
    margin-bottom: 0;
}

.other-product__container {
    margin-top: 64px;
    overflow: hidden;
}

.other-product__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: -24px 32px 0 32px;
    padding-left: 0;
}

.other-product__item {
    margin-top: 24px;
    margin-left: 32px;
    margin-right: 32px;
}

.other-product-card__image {
    width: 248px;
    height: 368px;
}

.other-product-card__info {
    margin-top: 20px;
}

.other-product-card__title {
    text-align: center;
}

.other-product-card__title-link {
    text-decoration: none;
    color: var(--main-black);
}

.other-product-card__color-container {
    margin-top: 8px;
}

.other-product-card__color-list {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    margin-left: -2px;
    margin-right: -2px;
}

.other-product-card__color-item {
    width: 16px;
    height: 16px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #1A1F29;
}


















.footer {
    margin-top: 80px;
    border-top: 1px solid var(--border);
    padding-top: 80px;
    padding-left: 88px;
}

.footer__menus {
    display: flex;
}

.footer__menu {
    margin-right: 158px; 
}

.footer__menu:last-child {
    margin-right: 0; 
}

.footer__menu-title {
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer__menu-adress {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: var(--tertiary);
    width: 168px;
}

.footer__social-container {
    margin-left: -8px;
    margin-right: -8px;
}

.footer__social-item {
    display: inline-block;
    width: 19px;
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
}

.footer__social-item:hover {
    opacity: 0.8;
}

.footer__social-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer__menu-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.footer__menu-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: var(--tertiary);
}

.footer__menu-link:hover {
    text-decoration: underline;
}

.footer__copywriter {
    margin-top: 92px;
}

.product__size-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 8px;
    background-color: #ccc;
}

.product__size-radio {
    display: none;
}

.product__size-conmntainer {
    display: flex;
}